<!DOCTYPE>
<html ng-app="bot">
<head>
    <style>
        .redc{color:red;}
        .greenc{color:green;}
    
    </style>



    <title>Quizzes Management</title>
</head>
<body>
    <div style="margin-top:50px;" class="container" ng-controller="QuizzesViewCtrl">   
        <h1>You can view all the information about the quiz called <b>{{quiz.title}}</b> </h1>
            <div style="margin-top:50px">
               <h3><b>Operations: </b> <a ng-click="editQuiz(quiz._id)" class="btn btn-small btn-primary">Edit</a></h3>
                <h3><b>Title</b> : {{quiz.title}} </h3>
                <h3><b>Category</b> : {{quiz.category}} </h3>
                <h3><b>Description</b> : {{quiz.description}} </h3>
                <h3 ><b>Number of times this quiz was used</b> : <span ng-class="{redc: quiz.selectedTimes == 0, greenc: quiz.selectedTimes > 0}">{{quiz.selectedTimes}}</span> </h3>
                <h3><b>User satisfaction rate</b> : {{quiz.satisfactionRate}} </h3>
                <h3><b>The list of questions</b> :</h3>  
                
                <table class="table" style="font-size:16px;">
            <thead>
                <tr style="font-weight:bold;">
                    <th>Content</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tr>
                    <td>{{quiz.questions[0].content}}</td>
                    <td>{{quiz.questions[0].tags[0]}},{{quiz.questions[0].tags[1]}}</td>

            </tr>
             <tr>
                    <td>{{quiz.questions[1].content}}</td>
                    <td>{{quiz.questions[1].tags[0]}},{{quiz.questions[1].tags[1] }}</td>

            </tr>
             <tr>
                    <td>{{quiz.questions[2].content}}</td>
                    <td>{{quiz.questions[2].tags[0]}},{{quiz.questions[2].tags[1] }}</td>

            </tr>
             <tr>
                    <td>{{quiz.questions[3].content}}</td>
                    <td>{{quiz.questions[3].tags[0]}},{{quiz.questions[3].tags[1] }}</td>

            </tr>
             <tr>
                    <td>{{quiz.questions[4].content}}</td>
                    <td>{{quiz.questions[4].tags[0]}},{{quiz.questions[4].tags[1] }}</td>

            </tr>
        </table>
                
                
            </div>
                            
    </div>
</body>

</html>