<!DOCTYPE>
<html ng-app="bot">
<head>



    <title>Quizzes Management</title>
</head>
<body>
    <div class="container" ng-controller="QuizzesListCtrl">
        <h1 style="font-size:60px;">Quizzes List</h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th style="font-size:25px;">Titles</th>
                    <th style="font-size:25px;">Categories</th>
                    <th style="font-size:25px;">Descriptions</th>
                    <th style="font-size:25px;">User Satisfaction Rates</th>
                </tr>
            </thead>
            <input type="text" size="5" class="form-control" name="" value="" placeholder="Search for a Quiz..." ng-model="find" >
            <tbody>
                <tr ng-repeat="quiz in quizzes | orderBy:'-satisfactionRate'  | filter: find">
                    <td>{{quiz.title}}</td>
                    <td>{{quiz.category}}</td>
                    <td>{{quiz.description}}</td>
                    <td><center>{{quiz.satisfactionRate}}</center></td>
                    <td><a ng-click="viewQuiz(quiz._id)" class="btn btn-small btn-success">View</a></td>
                    <td><a ng-click="deleteQuiz(quiz._id)" style="margin-left:20px;" class="btn btn-small btn-danger">Remove</a></td>
                    
                    
                </tr>
            </tbody>
        </table>
    </div>
</body>


</html>