<!DOCTYPE>
<html ng-app="bot">
<head>
    <style>
        .redc{color:red;}
        .greenc{color:green;}
    
    </style>



    <title>Quizzes Management</title>
</head>
<body>
    <div style="margin-top:50px;" class="container" >   
        <h1>Welcome to the Quiz Statistics page,<br> where you can see how well your quizzes perform </h1>
            <div style="margin-top:50px">
          
            
          <div ng-controller="QuizzesStatsCtrl">
    <fusioncharts 
        width= "100%"
        height= "400"
        type= "column2d"
        dataFormat= "json"
        dataSource= "{{dataSource}}">
    </fusioncharts>
</div>
    
        

            </div>
                            
    </div>
</body>

</html>