<!DOCTYPE>
<html ng-app="bot">
<head>



    <title>Tags Management</title>
</head>
<body>
    <div class="container" ng-controller="TagsListCtrl">
        <h1 style="font-size:60px;">Tags List</h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th style="font-size:32px;">Titles</th>
                </tr>
            </thead>
            <input type="text" size="5" class="form-control" name="" value="" placeholder="Search for a Tag..." ng-model="find" >
            <tbody>
                <tr ng-repeat="tag in tags | orderBy:'title' | filter: find">
                    <td>{{tag.title}}</td>
                    <td><a ng-click="editTag(tag._id)" class="btn btn-small btn-primary">Edit</a></td>
                    <td><a ng-click="deleteTag(tag._id)" class="btn btn-small btn-danger">Remove</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>


</html>